<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="openaccess" type="Telerik.OpenAccess.Config.ConfigSectionHandler, Telerik.OpenAccess.Config, Version=1.0.0.0, Culture=neutral, PublicKeyToken=7ce17eeaf1d59342" requirePermission="false"/>
  </configSections>
  <openaccess xmlns="http://www.telerik.com/OpenAccess">
    <connections>
      <connection id="DatabaseConnection1">
        <databasename>Sitefinity4</databasename>
        <servername>WIN-30EAUAH6HVM\SQLEXPRESS</servername>
        <integratedSecurity>True</integratedSecurity>
        <backendconfigurationname>mssqlConfiguration</backendconfigurationname>
      </connection>
    </connections>
    <backendconfigurations>
      <backendconfiguration id="mssqlConfiguration" backend="mssql">
        <mediumTrust>True</mediumTrust>
        <useUTCForAutoSets>true</useUTCForAutoSets>
        <useUTCForAutoSetDates>true</useUTCForAutoSetDates>
        <useUTCForReads>true</useUTCForReads>
        <logging.logEvents>all</logging.logEvents>
        <logDownloader.filename>c:\test.txt</logDownloader.filename>
        <logDownloader.eventText>True</logDownloader.eventText>
        <mappingname>mssqlMapping</mappingname>
      </backendconfiguration>
    </backendconfigurations>
    <mappings current="mssqlMapping">
      <mapping id="mssqlMapping">
        <namespace name="Funding.Model">
          <class name="FundingModel">
          </class>
        </namespace>
      </mapping>
    </mappings>
  </openaccess>
  <startup>

  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>