<?xml version="1.0" encoding="utf-8"?>
<contentViewConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="4.0.1210.0">
	<contentViewControls>
		<config:link definitionName="NewsBackend" path="newsConfig/contentViewControls/NewsBackend" module="News" />
		<config:link definitionName="NewsCommentsBackend" path="newsConfig/contentViewControls/NewsCommentsBackend" module="News" />
		<config:link definitionName="NewsFrontend" path="newsConfig/contentViewControls/NewsFrontend" module="News" />
		<config:link definitionName="NewsCommentsFrontend" path="newsConfig/contentViewControls/NewsCommentsFrontend" module="News" />
		<config:link definitionName="BlogsBackend" path="blogsConfig/contentViewControls/BlogsBackend" module="Blogs" />
		<config:link definitionName="BlogsCommentsBackend" path="blogsConfig/contentViewControls/BlogsCommentsBackend" module="Blogs" />
		<config:link definitionName="BlogsCommentsFrontend" path="blogsConfig/contentViewControls/BlogsCommentsFrontend" module="Blogs" />
		<config:link definitionName="PostsBackend" path="blogsConfig/contentViewControls/PostsBackend" module="Blogs" />
		<config:link definitionName="BlogPostsFrontend" path="blogsConfig/contentViewControls/BlogPostsFrontend" module="Blogs" />
		<config:link definitionName="EventsBackend" path="eventsConfig/contentViewControls/EventsBackend" module="Events" />
		<config:link definitionName="EventsCommentsBackend" path="eventsConfig/contentViewControls/EventsCommentsBackend" module="Events" />
		<config:link definitionName="EventsCommentsFrontend" path="eventsConfig/contentViewControls/EventsCommentsFrontend" module="Events" />
		<config:link definitionName="EventsFrontend" path="eventsConfig/contentViewControls/EventsFrontend" module="Events" />
		<config:link definitionName="AlbumsBackend" path="librariesConfig/contentViewControls/AlbumsBackend" module="Libraries" />
		<config:link definitionName="ImagesBackend" path="librariesConfig/contentViewControls/ImagesBackend" module="Libraries" />
		<config:link definitionName="LibraryImagesBackend" path="librariesConfig/contentViewControls/LibraryImagesBackend" module="Libraries" />
		<config:link definitionName="ImagesFrontend" path="librariesConfig/contentViewControls/ImagesFrontend" module="Libraries" />
		<config:link definitionName="ImagesCommentsFrontend" path="librariesConfig/contentViewControls/ImagesCommentsFrontend" module="Libraries" />
		<config:link definitionName="DocumentsBackend" path="librariesConfig/contentViewControls/DocumentsBackend" module="Libraries" />
		<config:link definitionName="BackendLibraryDocumentsList" path="librariesConfig/contentViewControls/BackendLibraryDocumentsList" module="Libraries" />
		<config:link definitionName="BackendLibraryDocuments" path="librariesConfig/contentViewControls/BackendLibraryDocuments" module="Libraries" />
		<config:link definitionName="FrontendDocuments" path="librariesConfig/contentViewControls/FrontendDocuments" module="Libraries" />
		<config:link definitionName="VideosBackend" path="librariesConfig/contentViewControls/VideosBackend" module="Libraries" />
		<config:link definitionName="LibraryVideoBackend" path="librariesConfig/contentViewControls/LibraryVideoBackend" module="Libraries" />
		<config:link definitionName="BackendLibraryVideoList" path="librariesConfig/contentViewControls/BackendLibraryVideoList" module="Libraries" />
		<config:link definitionName="VideosFrontend" path="librariesConfig/contentViewControls/VideosFrontend" module="Libraries" />
		<config:link definitionName="FormsBackend" path="formsConfig/contentViewControls/FormsBackend" module="Forms" />
		<config:link definitionName="FormsFrontend" path="formsConfig/contentViewControls/FormsFrontend" module="Forms" />
		<config:link definitionName="PublishingBackend" path="publishingConfig/contentViewControls/PublishingBackend" module="Publishing" />
		<config:link definitionName="ContentBackend" path="contentConfig/contentViewControls/ContentBackend" module="GenericContent" />
		<config:link definitionName="ContentCommentsBackend" path="contentConfig/contentViewControls/ContentCommentsBackend" module="GenericContent" />
		<config:link definitionName="ContentCommentsFrontend" path="contentConfig/contentViewControls/ContentCommentsFrontend" module="GenericContent" />
		<config:link definitionName="GenericContentFrontend" path="contentConfig/contentViewControls/GenericContentFrontend" module="GenericContent" />
		<config:link definitionName="ControlTemplatesBackend" path="controlTemplatesConfig/contentViewControls/ControlTemplatesBackend" module="ControlTemplates" />
		<config:link definitionName="SearchBackend" path="searchConfig/contentViewControls/SearchBackend" module="Search" />
		<config:link definitionName="TwitterBackend" path="publishingConfig/contentViewControls/TwitterBackend" module="Scheduling" />
	</contentViewControls>
	<sortingExpressionSettings>
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Image" sortingExpressionTitle="NewUploadedFirst" sortingExpression="DateCreated DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Image" sortingExpressionTitle="NewModifiedFirst" sortingExpression="LastModified DESC" />
		<add isCustom="True" contentType="Telerik.Sitefinity.Libraries.Model.Image" sortingExpressionTitle="Custom sorting..." sortingExpression="Custom" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Video" sortingExpressionTitle="NewUploadedFirst" sortingExpression="DateCreated DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Video" sortingExpressionTitle="NewModifiedFirst" sortingExpression="LastModified DESC" />
		<add isCustom="True" contentType="Telerik.Sitefinity.Libraries.Model.Video" sortingExpressionTitle="Custom sorting..." sortingExpression="Custom" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Document" sortingExpressionTitle="NewUploadedFirst" sortingExpression="DateCreated DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Libraries.Model.Document" sortingExpressionTitle="NewModifiedFirst" sortingExpression="LastModified DESC" />
		<add isCustom="True" contentType="Telerik.Sitefinity.Libraries.Model.Document" sortingExpressionTitle="Custom sorting..." sortingExpression="Custom" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Pages.Model.PresentationData" sortingExpressionTitle="NewCreatedOnTop" sortingExpression="DateCreated DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Pages.Model.PresentationData" sortingExpressionTitle="NewModifiedOnTop" sortingExpression="LastModified DESC" />
		<add isCustom="False" contentType="Telerik.Sitefinity.Pages.Model.PresentationData" sortingExpressionTitle="ByWidgets" sortingExpression="FriendlyControlName ASC" />
		<add isCustom="True" contentType="Telerik.Sitefinity.Pages.Model.PresentationData" sortingExpressionTitle="CustomSorting" sortingExpression="Custom" />
	</sortingExpressionSettings>
</contentViewConfig>