<?xml version="1.0" encoding="utf-8"?>
<resourcesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="4.0.1210.0">
	<providers>
		<add version="4.0.1210.0" name="XmlDataProvider" />
	</providers>
	<urlLocalizationStrategySettings>
		<clear />
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.SubFolderUrlLocalizationStrategy" type:urlLocalizationStrategyType="System.RuntimeType, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" urlLocalizationStrategyName="SubFolderUrlLocalizationStrategy" />
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.DomainUrlLocalizationStrategy" type:urlLocalizationStrategyType="System.RuntimeType, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" urlLocalizationStrategyName="DomainUrlLocalizationStrategy" />
		<add urlLocalizationStrategyType="Telerik.Sitefinity.Localization.UrlLocalizationStrategies.TranslatedUrlsLocalizationStrategy" type:urlLocalizationStrategyType="System.RuntimeType, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" urlLocalizationStrategyName="TranslatedUrlsLocalizationStrategy" />
	</urlLocalizationStrategySettings>
</resourcesConfig>