<?xml version="1.0" encoding="utf-8"?>
<systemConfig build="1210" previousBuild="1160" xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="4.0.1210.0">
	<servicesModules>
		<add version="4.0.1210.0" name="Search" />
	</servicesModules>
	<applicationModules>
		<add version="4.0.1210.0" name="News" />
		<add version="4.0.1210.0" name="Blogs" />
		<add version="4.0.1210.0" name="Events" />
		<add version="4.0.1210.0" name="Libraries" />
		<add version="4.0.1210.0" name="Analytics" />
		<add version="4.0.1210.0" name="Forms" />
		<add version="4.0.1210.0" name="Scheduling" />
		<add version="4.0.1210.0" name="Publishing" />
		<add version="4.0.1210.0" name="GenericContent" />
		<add version="4.0.1210.0" name="ControlTemplates" />
		<add version="4.0.1210.0" name="Newsletters" />
	</applicationModules>
	<uiTimeZoneSettings timeZoneId="Central Standard Time" />
</systemConfig>