<?xml version="1.0" encoding="utf-8"?>
<toolboxesConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="4.0.1210.0">
	<toolboxes>
		<toolbox name="PageControls">
			<sections>
				<add name="ContentToolboxSection">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Modules.News.Web.UI.NewsView, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="NewsViewTitle" description="NewsViewDescription" resourceClassId="NewsResources" cssClass="sfNewsViewIcn" layoutTemplate="" moduleName="News" name="NewsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Blogs.Web.UI.BlogPostView, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="BlogPostsViewTitle" description="BlogPostsViewDescription" resourceClassId="BlogResources" cssClass="sfBlogsViewIcn" layoutTemplate="" moduleName="Blogs" name="BlogPostsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Events.Web.UI.EventsView, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="EventsViewTitle" description="EventsViewDescription" resourceClassId="EventsResources" cssClass="sfEventsViewIcn" layoutTemplate="" moduleName="Events" name="EventsView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Videos.MediaPlayerControl, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="MediaPlayerControlTitle" description="MediaPlayerControlDescription" resourceClassId="PageResources" cssClass="sfVideoIcn" layoutTemplate="" moduleName="" name="MediaPlayerControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Videos.VideosView, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="VideosViewTitle" description="VideosViewDescription" resourceClassId="LibrariesResources" cssClass="sfVideoListIcn" layoutTemplate="" moduleName="Libraries" name="VideosView" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Documents.DocumentLink, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="DocumentLinkControlTitle" description="DocumentLinkControlDescription" resourceClassId="PageResources" cssClass="sfDownloadLinkIcn" layoutTemplate="" moduleName="" name="DocumentLinkControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Libraries.Web.UI.Documents.DownloadListView, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="DownloadListViewTitle" description="DownloadListViewDescription" resourceClassId="PageResources" cssClass="sfDownloadListIcn" layoutTemplate="" moduleName="" name="DownloadListView" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.FeedEmbedControl, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="FeedEmbedControlTitle" description="FeedEmbedControlDescription" resourceClassId="PageResources" cssClass="sfFeedsIcn" layoutTemplate="" moduleName="" name="FeedEmbedControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.Forms.Web.UI.FormsControl, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="FormsControlTitle" description="FormsControlDescription" resourceClassId="FormsResources" cssClass="sfFormsIcn" layoutTemplate="" moduleName="" name="FormsControl" />
						<add enabled="True" type="Telerik.Sitefinity.Modules.GenericContent.Web.UI.GenericContentView, Telerik.Sitefinity, Version=4.0.941.0, Culture=neutral, PublicKeyToken=b28c218413bdf563" title="GenericContentViewTitle" description="GenericContentViewDescription" resourceClassId="ContentResources" cssClass="sfContentViewIcn" layoutTemplate="" moduleName="GenericContent" name="GenericContentView" />
					</tools>
				</add>
				<add enabled="True" title="Classifications" description="" resourceClassId="" name="Classifications">
					<tools>
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" title="Categories" description="" resourceClassId="" cssClass="sfHierarchicalTaxonIcn" layoutTemplate="" moduleName="" TaxonomyId="e5cd6d69-1543-427b-ad62-688a99f5e7d4" FieldName="Category" name="Categories" />
						<add enabled="True" type="Telerik.Sitefinity.Web.UI.PublicControls.TaxonomyControl" title="Tags" description="" resourceClassId="" cssClass="sfFlatTaxonIcn" layoutTemplate="" moduleName="" TaxonomyId="cb0f3a19-a211-48a7-88ec-77495c0f5374" FieldName="Tags" name="Tags" />
					</tools>
				</add>
				<add enabled="True" title="Charity Widgets" description="Widgets used by a charity organization" resourceClassId="PageResources" name="CharityWidgets">
					<tools>
						<add enabled="True" type="~/Widgets/Donations/DonationWidget.ascx" title="Donation Widget" description="Button widget for linking to a PayPal Donation Form" resourceClassId="" cssClass="sfDonationWidget" layoutTemplate="" moduleName="" name="DonationWidget" />
						<add enabled="True" type="~/Widgets/Calendar/iCalFeedWidget.ascx" title="iCal Feed Widget" description="Displays a link to subscribe to events via iCal Feed" resourceClassId="" cssClass="sfiCalFeedwidget" layoutTemplate="" moduleName="" name="iCalFeedWidget" />
					</tools>
				</add>
				<add enabled="True" title="Social Widgets" description="Widgets for displaying data from social networks" resourceClassId="PageResources" name="SocialWidgets">
					<tools>
						<add enabled="True" type="Sitefinity.Widgets.Social.Twitter.TwitterFeedWidget, Sitefinity.Widgets.Social" title="Twitter Feed" description="Displays a user's twitter feed" resourceClassId="" cssClass="sfTwitterFeed" layoutTemplate="" moduleName="" name="TwitterFeedWidget" />
						<add enabled="True" type="Sitefinity.Widgets.Social.Facebook.LikeBoxWidget, Sitefinity.Widgets.Social" title="Facebook LikeBox" description="Display a like box for a facebook page" resourceClassId="" cssClass="sfLikeBox" layoutTemplate="" moduleName="" name="LikeBoxWidget" />
						<add enabled="True" type="Sitefinity.Widgets.Social.Flickr.FlickrFeedWidget, Sitefinity.Widgets.Social" title="Flickr Feed" description="Shows a list of recent images from a user's Flickr Feed" resourceClassId="" cssClass="sfFlickrFeed" layoutTemplate="" moduleName="" name="FlickrFeedWidget" />
						<add enabled="True" type="Sitefinity.Widgets.Social.YouTube.YouTubeFeedWidget, Sitefinity.Widgets.Social" title="YouTube Video Feed" description="Displays thumbnails linked to recent videos in a YouTube RSS Feed" resourceClassId="" cssClass="sfYouTubeFeed" layoutTemplate="" moduleName="" name="YouTubeFeedWidget" />
						<add enabled="True" type="Sitefinity.Widgets.Social.Facebook.LikeButtonWidget, Sitefinity.Widgets.Social" title="Facebook Like Button" description="Displays a Facebook Like / Recommend buton" resourceClassId="" cssClass="sfLikeButton" layoutTemplate="" moduleName="" name="LikeButtonWidget" />
						<add enabled="True" type="Sitefinity.Widgets.Social.Vimeo.VimeoFeedWidget, Sitefinity.Widgets.Social" title="Vimeo Feed Widget" description="Displays thumbnails linked to recent videos in a Vimeo RSS Feed" resourceClassId="" cssClass="sfVimeoFeed" layoutTemplate="" moduleName="" name="VimeoFeedWidget" />
					</tools>
				</add>
				<add enabled="True" title="Map Widgets" description="Widgets for integrating with Bing Maps" resourceClassId="" name="MapWidgets">
					<tools>
						<add enabled="True" type="Sitefinity.Widgets.Maps.Bing.BingMapWidget, Sitefinity.Widgets.Maps" title="Bing Map Widget" description="Shows a Bing Map for a street address" resourceClassId="" cssClass="sfBingMap" layoutTemplate="" moduleName="" name="BingMapWidget" />
					</tools>
				</add>
			</sections>
		</toolbox>
	</toolboxes>
</toolboxesConfig>